@import '~primer-support';

// Gnosis Theme
$gnosis-primary: #008c73;
$gnosis-primary-light: #a1d2ca;
$gnosis-primary-hover: #005546;
$gnosis-primary-disabled: #008c7380;
$gnosis-secondary: #001428;
$gnosis-secondary-light: #B2B5B2;
$gnosis-secondary-hover: #5d6d74;
$gnosis-secondary-disabled: #00142880;
$gnosis-red: #f02525;

$link-text: #82b1ff;
$warning: #ffc780;
$error: $gnosis-red;
$info: #7685d5;
$input-hover-border: #4c5480;
$primary-button-background: $gnosis-primary;
$primary-button-background-hover: $gnosis-primary-hover;
$primary-button-border: $gnosis-primary;
$primary-button-text: #ffffff;
$secondary-button-background: #001428;
$secondary-button-background-hover: $gnosis-secondary-light;
$secondary-button-border: $gnosis-secondary-light;
$secondary-button-text: #ffffff;
$button-disabled: $gnosis-primary-disabled;
$button-disabled-text: #ffffff;
$panel-border: #f7f5f5;
$panel-background: #ffffff;
$panel-header-background: #fafafa;
$highlighted-selector-border: $gnosis-primary;

// PrimerCSS
$black: #000000;
$border: 1px solid $panel-border;
$bg-blue: #384AFF;
$bg-blue-light: #F7F8FC;
$bg-gray: #000000;
$bg-green: #21b66f;
$text-blue: #384AFF;
$text-red: $gnosis-red;
$text-yellow: #ffc780;
$blue-100: #DCE2FF;
$gray: $bg-gray;
$text-gray: $gray;
$blue: #7685d5;
$gray-dark: #282a32;
$bg-gray-dark: $gray-dark;

$border-radius: 4px;

$body-font-size: 14px;
$body-line-height: 1.4;
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;

$font-weight-normal: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-weight-bold: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
